@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Anek+Latin:wght@100&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Patua One, WEIGHT_OR_RANGE ,Amatic SC, sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  background: repeating-linear-gradient(100deg, rgba(0, 0, 0, 0.4) 2%, rgba(255, 174, 0, 0.4) 2% 4%, rgba(0, 0, 0, 0.4) 4% 6%);
  animation: gradient 20s infinite;
  background-size: 400% 400%;
  z-index: 2000;
}

@keyframes gradient {
  0% {
    background-position: 20% 0%;
  }
  50% {
    background-position: 40% 0%;
  }
  100% {
    background-position: 20% 0%;
  }
}

nav .df--lvl__background {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

nav .df--lvl__background h1 {
  font-size: 5rem;
  margin: 2rem;
  color: white;
  text-shadow: 2px 2px 2px black;
  animation: rotation 1s forwards;
}

nav .df--lvl__background .df--lvl__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(100deg, #ffdd00, #ff7700);
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.348);
  border-radius: 1rem;
  animation: rotation 1s  forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

nav .df--lvl__background .df--lvl__container .df--lvl__line {
  width: 100%;
  height: 0.1rem;
  background-image: linear-gradient(90deg, transparent, rgba(74, 0, 108, 0.7), transparent);
}

nav .df--lvl__background .df--lvl__container p {
  margin: 1rem;
}

nav .df--lvl__background .df--lvl__container form {
  margin-top: 0.6rem;
}

nav .df--lvl__background .df--lvl__container form input {
  margin: 0.5rem 0 0.5rem 0;
}

nav .df--lvl__background .df--lvl__container #df--lvl__select--btn {
  bottom: 1rem;
  margin: 0.5rem auto 0 auto;
  border: none;
  background-color: rgba(74, 0, 108, 0.7);
  padding: 0.5rem;
  border-radius: 0.3rem;
  color: white;
  box-shadow: inset 0 0 0.4rem #360536;
}

nav .df--lvl__background .df--lvl__container #df--lvl__select--btn:hover {
  box-shadow: inset 0 0 0.4rem #dbdbdb;
  transition: 0.2s;
}

@keyframes rotation {
  0% {
    opacity: 0;
    transform: rotateY(40deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

main {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 6rem rgba(176, 174, 174, 0.7);
}

main #change--df--lvl {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.3rem;
  z-index: 900;
  border: none;
  border-radius: 0.5rem 0 0 0;
  background-color: #ffaa00;
}

main .container {
  width: 27rem;
  height: 15rem;
  display: flex;
  position: relative;
  margin: 3rem 1rem 2rem 1rem;
}

main .item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  width: 8rem;
  height: 15rem;
}

main .cup--shape {
  position: absolute;
  top: 0;
  display: flex;
  width: 8rem;
  height: 10rem;
  z-index: 20;
}

main .cup--shape .cup--shape__left {
  position: absolute;
  top: 0;
  left: 0.5rem;
  height: 10rem;
  width: 4rem;
  transform: skewX(-6deg);
  background-color: #ffd000;
  box-shadow: -3px 6px 3px rgba(176, 174, 174, 0.7);
}

main .cup--shape .cup--shape__right {
  position: absolute;
  top: 0;
  left: 3.5rem;
  height: 10rem;
  width: 4rem;
  transform: skewX(6deg);
  background-color: #ffd000;
  border-right: solid #ffffff 1px;
}

main .cup--shape .cup--shape__top {
  position: absolute;
  top: -0.5rem;
  left: 1rem;
  height: 1rem;
  width: 6rem;
  border-radius: 100%;
  background-color: #ffd000;
  border: solid #ffffff 1px;
}

main .cup--shape .cup--shape__bottom {
  position: absolute;
  bottom: -1rem;
  height: 2rem;
  width: 8rem;
  background-color: #ffd000;
  border-radius: 100%;
  box-shadow: -3px 6px 3px rgba(176, 174, 174, 0.7);
}

main .ball {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffff00;
  z-index: 10;
  box-shadow: -3px 6px 3px rgba(176, 174, 174, 0.7);
}

main .operators {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: center;
}

main .operators .button--box {
  position: relative;
  width: 10rem;
  height: 4rem;
}

main .operators .button--box button {
  position: absolute;
  top: 3.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  border: none;
  background-color: #ffaa00;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  transition: 0.1s;
  border-bottom: solid rgba(145, 42, 42, 0.4) 0.4rem;
}

main .operators .button--box button:hover {
  top: 3.4rem;
  transition: 0.1s;
  border-bottom: solid rgba(145, 42, 42, 0.4) 0.3rem;
}

main .operators .button--box button:focus {
  top: 3.6rem;
  transition: 0.1s;
  border-bottom: solid rgba(145, 42, 42, 0.4) 0.1rem;
}

main .operators #notification {
  position: absolute;
  top: 0;
  height: 2rem;
  margin: 0.5rem;
  font-size: 2rem;
}

main #click--blocker {
  position: absolute;
  top: -1rem;
  width: 100%;
  height: 18rem;
  background-color: transparent;
  z-index: 1000;
  background-color: transparent;
  opacity: 0.3;
}

main #counter {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

main #cupOne {
  left: 0;
}

main #cupTwo {
  left: 9rem;
}

main #cupThree {
  left: 18rem;
}

main .moveCupsDown {
  top: 5rem;
  transition: 0.3s;
}

main .moveCupsUp {
  top: 0rem;
  transition: 0.3s;
}

main .expandBall {
  animation: expandBall 0.2s forwards;
}

@keyframes expandBall {
  100% {
    width: 3rem;
    height: 3rem;
  }
}

main .shrinkBall {
  animation: shrinkBall 0.2s forwards;
}

@keyframes shrinkBall {
  0% {
    width: 3rem;
    height: 3rem;
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

main .animation--one {
  animation: cupOneFirstAnim 5s forwards;
}

@keyframes cupOneFirstAnim {
  20% {
    left: 9rem;
    transform: scale(0.8);
    z-index: -1;
  }
  40% {
    left: 18rem;
    z-index: 0;
  }
  60% {
    left: 9rem;
    transform: scale(1);
    z-index: -1;
  }
  80% {
    left: 18rem;
  }
  100% {
    left: 18rem;
    z-index: 1;
  }
}

main .animation--two {
  animation: cupTwoFirstAnim 5s forwards;
}

@keyframes cupTwoFirstAnim {
  20% {
    left: 18rem;
    transform: scale(0.8);
    z-index: -2;
  }
  40% {
    left: 0rem;
    transform: scale(0.8);
    z-index: -1;
  }
  60% {
    left: 0rem;
    transform: scale(1);
    z-index: 1;
  }
  80% {
    left: 9rem;
  }
  100% {
    left: 0rem;
    transform: scale(1);
    z-index: 2;
  }
}

main .animation--three {
  animation: cupThreeFirstAnim 5s forwards;
}

@keyframes cupThreeFirstAnim {
  20% {
    left: 0rem;
  }
  40% {
    left: 9rem;
    transform: scale(1);
    z-index: -1;
  }
  60% {
    left: 18rem;
    transform: scale(0.8);
    z-index: -2;
  }
  80% {
    left: 0rem;
    transform: scale(0.8);
    z-index: -2;
  }
  100% {
    left: 9rem;
    transform: scale(1);
    z-index: 1;
  }
}

main .animation--four {
  animation: cupOneSecondAnim 5s forwards;
}

@keyframes cupOneSecondAnim {
  20% {
    left: 18rem;
    transform: scale(0.8);
    z-index: -1;
  }
  40% {
    left: 0rem;
  }
  60% {
    left: 9rem;
  }
  80% {
    left: 9rem;
    transform: scale(0.8);
    z-index: -1;
  }
  100% {
    left: 0rem;
    transform: scale(1);
    z-index: 1;
  }
}

main .animation--five {
  animation: cupTwoSecondAnim 5s forwards;
}

@keyframes cupTwoSecondAnim {
  20% {
    left: 0rem;
  }
  40% {
    left: 9rem;
  }
  60% {
    left: 18rem;
    transform: scale(0.8);
    z-index: -1;
  }
  80% {
    left: 0rem;
    transform: scale(1);
    z-index: 1;
  }
  100% {
    left: 9rem;
    transform: scale(1);
    z-index: 2;
  }
}

main .animation--six {
  animation: cupThreeSecondAnim 5s forwards;
}

@keyframes cupThreeSecondAnim {
  20% {
    left: 9rem;
  }
  40% {
    left: 18rem;
  }
  60% {
    left: 0rem;
    z-index: 2;
  }
  80% {
    left: 18rem;
  }
  100% {
    left: 18rem;
    z-index: 1;
  }
}

main .animation--seven {
  animation: cupOneThirdAnim 5s forwards;
}

@keyframes cupOneThirdAnim {
  20% {
    left: 0rem;
    transform: scale(1);
    z-index: 1;
  }
  40% {
    left: 18rem;
    transform: scale(0.8);
    z-index: -2;
  }
  60% {
    left: 18rem;
  }
  80% {
    left: 0rem;
    transform: scale(0.8);
    z-index: -2;
  }
  100% {
    left: 9rem;
    transform: scale(1);
    z-index: 1;
  }
}

main .animation--eight {
  animation: cupTwoThirdAnim 5s forwards;
}

@keyframes cupTwoThirdAnim {
  20% {
    left: 18rem;
    transform: scale(1);
    z-index: -1;
  }
  40% {
    left: 9rem;
  }
  60% {
    left: 0rem;
  }
  80% {
    left: 9rem;
    transform: scale(0.8);
    z-index: -2;
  }
  100% {
    left: 18rem;
    transform: scale(1);
    z-index: 1;
  }
}

main .animation--nine {
  animation: cupThreeThirdAnim 5s forwards;
}

@keyframes cupThreeThirdAnim {
  0% {
    z-index: -2;
  }
  20% {
    left: 9rem;
    transform: scale(0.8);
    z-index: -2;
  }
  40% {
    left: 0rem;
  }
  60% {
    left: 9rem;
  }
  80% {
    left: 18rem;
  }
  100% {
    left: 0rem;
    transform: scale(1);
    z-index: 1;
  }
}

@media screen and (max-width: 479px) {
  * {
    font-size: 10px;
  }
}

@media screen and (min-width: 480px) {
  * {
    font-size: 12px;
  }
}

@media screen and (min-width: 600px) {
  * {
    font-size: 16px;
  }
}

@media screen and (min-width: 760px) {
  * {
    font-size: 20px;
  }
}

@media screen and (min-width: 960px) {
  * {
    font-size: 24px;
  }
}

@media screen and (min-width: 1264px) {
  * {
    font-size: 26px;
  }
}

@media screen and (min-width: 1904px) {
  * {
    font-size: 28px;
  }
}
